.support
  .c
    .support__container
      .support__text Человек должен владеть #[b всей информацией] о своей болезни, а не мучаться от страха неопределенности. Я всегда #[span говорю пациентам правду без приукрашивания].
      .support__main
        .support__img
          img(src=require('src/modules/support/img/img.png'))
          .support__info
            .support__name Реутов Андрей
            .support__position нейрохирург
      .support__text.support__text--right При этом даю понять, что #[span я рядом] #[b и готов пройти вместе с вами любой путь], каким бы сложным он ни был