#iframe-popup.popup.popup--iframe.micromodal-slide(aria-hidden="true")
  .popup__overlay(tabindex="-1" data-micromodal-close)
    .popup__wrapper
      button.popup__close(data-micromodal-close): +the_svg('cross')
      .popup__container(role="dialog" aria-modal="true")
        iframe(allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

