#example-popup.popup.popup--example.micromodal-slide(aria-hidden="true")
  .popup__overlay(tabindex="-1" data-micromodal-close)
    .popup__wrapper
      button.popup__close(data-micromodal-close): +the_svg('cross')
      .popup__container(role="dialog" aria-modal="true")
        .examples__label случай из практики
        .examples__header Беременная женщина с массивным кровоизлиянием в мозг
        .examples__text.examples__text--full Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.


