.popup {
  $this: &;
  display: none;

  &--wide {
    #{$this}__wrapper {
      width: 920px;
    }

    #{$this}__form {
      width: 670px;
    }
  }

  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] {
    & #{$this}__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    & #{$this}__wrapper, & #{$this}__video {
      animation: mmslideIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }

  &__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &__wrapper, &__video {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &__overlay, &__wrapper, &__video {
    will-change: transform;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($blue, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    overflow: auto;
    //align-items: flex-start;
    z-index: 100;
    padding: 20px;
  }

  &__wrapper {
    position: relative;
    max-width: 100%;
  }

  &__container {
    background: $white;
    width: 460px;
    max-width: 100%;
    border-radius: 15px 0 15px 15px;
    padding: 40px 50px;
    overflow: hidden;
    position: relative;
    @include mobile() {
      padding: 27px 30px;
    }
  }

  &--iframe {
    #{$this}__container {
      width: 780px;
      padding: 0;

      position: relative;
      background: $black;
      border-radius: 15px 0 15px 15px;

      &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  &--example {
    #{$this}__container {
      background: #f4f7fa;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    bottom: 100%;
    background: #f4f7fa;
    border-radius: 15px 15px 0 0;
    width: 48px;
    height: 48px;
    z-index: 1;
    @include anim();
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      //background: $light-grey;
    }

    svg {
      color: $red;
      width: 24px;
      height: 24px;
      pointer-events: none;
      @include anim();

    }
  }

  &__accept {
    margin-bottom: 20px;
  }

  &__policy {
    max-width: 700px;
    padding: 1em;
    background: $white;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}
