#callback-popup.popup.micromodal-slide(aria-hidden="true")
  .popup__overlay(tabindex="-1" data-micromodal-close)
    .popup__wrapper
      button.popup__close(data-micromodal-close): +the_svg('cross')
      .popup__container(role="dialog" aria-modal="true")
        .popup__form
          .form
            .form__header Оставьте свои данные
            .form__subheader Я перезвоню в течение 1 дня
            .form__input
              .input.input--bg: input(placeholder='Введите ваше имя')
            .form__input
              .input.input--bg: input(placeholder='Введите ваш телефон' type="tel")
            .form__button
              button.btn Записаться на встречу с врачом
            .form__note отправляя форму вы даете согласие#[br]#[a(href='#' ) на обработку данных]
