.restore
  .c
    .restore__container
      .restore__main
        .restore__subtitle За счет малой инвазивности
        .restore__title вы возвращаетесь к#[br]нормальной жизни#[br]#[span за 5-7 дней]
      .restore__img: img(src=require('src/modules/restore/img/img.png'))
      .restore__items
        .restore__item
          img.restore__icon(src=require('src/modules/restore/img/icon.png'))
          .restore__header Малая инвазивность
          .restore__text Разрез в 2-4 см по технике «замочная скважина»
        .restore__item
          img.restore__icon(src=require('src/modules/restore/img/icon.png'))
          .restore__header Сохранение красоты
          .restore__text Никаких вмятин и уродливых шрамов
        .restore__item
          img.restore__icon(src=require('src/modules/restore/img/icon.png'))
          .restore__header Быстрое восстановление
          .restore__text Реабилитация в полном комфорте

