.counter
  .c
    .counter__items
      .counter__item
        .counter__number 01
        .counter__text Разные доктора#[br]дают #[b разные прогнозы]#[br]и ничего не объясняют.
      .counter__item
        .counter__number 02
        .counter__text #[b Непонятно], к чему#[br]готовиться и насколько#[br]срочно нужна операция.
      .counter__item
        .counter__number 03
        .counter__text #[b Переживаете], хватит ли#[br]после операции денег#[br]на дальнейшее лечение.
    .counter__banner
      .counter__banner-content
        .counter__banner-text #[span Важно найти] компетентного и неравнодушного #[span врача,] #[b которому можно доверить спасение жизни.]
        img.counter__banner-img(src=require('src/modules/counter/img/img.png'))
