.issues
  .c
    .issues__title Лечу патологии головного и спинного мозга
    .issues__subtitle передовыми методами, на самом современном оборудовании, в команде с одними из лучших врачей России
    .issues__items
      .issues__item
        .issues__card
          .issues__header Любые опухоли головного и спинного мозга
          .issues__check
            span: +the_svg('check')
            |хирургическое удаление опухолей по технике «замочная скважина»: с мини-разрезами в 2-4 см.
          .issues__check
            span: +the_svg('check')
            |дальнейшее лечение можно продолжить здесь же, в ЦКБ.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Мальформация Арнольда - Киари
          .issues__check
            span: +the_svg('check')
            |краниовертебральная декомпрессия по авторской методике с #[b международным патентом].
          .issues__check
            span: +the_svg('check')
            |прооперировал самое большое чисто пациентов в мире с аномалией Киари.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Хирургическое лечение эпилепсии
          .issues__check
            span: +the_svg('check')
            |хирургическое удаление очага заболевания.
          .issues__check
            span: +the_svg('check')
            |решение об удалении принимается после консилиума и #[b тщательной диагностики] в ЦКБ или после диагностики в моей клинике в Осетии.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Гидроцефалия
          .issues__text 2 метода лечения:
          .issues__check
            span: +the_svg('check')
            |эндоскопическая операция #[b без установки шунта]: формирование мини-отверстия для оттока жидкости.
          .issues__check
            span: +the_svg('check')
            |шунтирование #[b универсальным программируемым шунтом] с возможностью регулировать отток жидкости.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Восстановительные операции после ЧМТ
          .issues__check
            span: +the_svg('check')
            |стереолитография (устранение дефектов костей черепа) с помощью 3D-моделирования.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Невралгия тройничного нерва
          .issues__check
            span: +the_svg('check')
            |васкулярная (сосудистая) декомпрессия корешка тройничного нерва.
          .issues__btn
            button.btn(data-micromodal-trigger="callback-popup") Запись на консультацию

      .issues__item
        .issues__card
          .issues__header Какие болезни #[span.issues__red я не лечу]
          .issues__check.issues__check--cross
            span: +the_svg('cross')
            |остеохондроз
          .issues__check.issues__check--cross
            span: +the_svg('cross')
            |грыжи
          .issues__check.issues__check--cross
            span: +the_svg('cross')
            |заболевания периферической нервной системы
