extends ../pug/_layout

block body
  include ../modules/counter/counter
  include ../modules/about/about
  include ../modules/system/system
  include ../modules/issues/issues
  include ../modules/operations/operations
  include ../modules/wait/wait
  include ../modules/examples/examples
  include ../modules/ya/ya
  include ../modules/video/video
  include ../modules/testimonials/testimonials
  include ../modules/record/record
  include ../modules/support/support
  include ../modules/price/price
  include ../modules/team/team
  include ../modules/restore/restore