.team-info {
  $this: &;

  align-self: flex-start;
  min-width: 0;

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__close-btn {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      display: flex;
      width: 24px;
      height: 24px;
      color: $red;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 45px;
    @include mobile(){
      flex-direction: column;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: bold;
    color: $white;
    margin-right: auto;
    @include mobile(){
      font-size: 22px;
    }
  }

  &__about {
    display: flex;
    align-items: center;
    color: $white;
    text-align: right;
    @include mobile(){
      flex-direction: row-reverse;
      text-align: left;
      align-self: flex-start;
    }
  }

  &__name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 14px;
    font-weight: 300;
    opacity: .7;
  }

  &__photo {
    margin-left: 20px;
    border-radius: 15px;
    @include mobile(){
      margin: 0 20px 0 0;
    }
  }

  &__slider {
    overflow: hidden;
    position: relative;
    margin: 0 -20px;
    padding: 0 20px;
  }

  &__slides {
    display: flex;
    align-items: flex-start;

    //&:before
  }

  &__slide {
    width: 33.3333%;
    flex-shrink: 0;
    padding: 0 10px;
    filter: blur(4px);

    &.swiper-slide-active {
      filter: none;
    }
  }

  &__card {
    background: #f4f7fa;
    border-radius: 15px;
    padding: 40px 39px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include mobile() {
      padding: 27px 30px 40px;

    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
  }

  &__date {
    margin-left: auto;
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    @include mobile() {
      font-size: 10px;
    }
  }

  &__text {
    font-weight: 300;
    margin-bottom: 28px;
    line-height: 1.62;
    @include mobile() {
      line-height: 1.5;
    }
  }

  &__button {
    text-transform: uppercase;
    margin-top: auto;
    font-size: 12px;
    font-weight: 700;
    color: $blue;
    letter-spacing: 0.22em;
    //text-decoration: none;
    @include mobile() {
      font-size: 10px;
    }
    //
    //&:after {
    //  content: '';
    //  display: block;
    //  right: 0;
    //  top: 100%;
    //  width: 100%;
    //  height: 1px;
    //  background: $cyan;
    //  @include anim(.1);
    //}
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile() {
      margin-top: 14px;
    }
  }

  &__nav {
    margin: 0 5px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: $cyan;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include anim();
    @include mobile() {
      width: 56px;
      height: 56px;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }

    &--next {

    }

    &:hover {
      box-shadow: 0px 5px 30px 0px rgba(0, 191, 255, 0.35);
      text-decoration: none;
    }
  }
}