.btn {
  $this: &;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @include anim();
  background: $cyan;
  padding: 20px 42px;
  min-height: 66px;
  border-radius: 33px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: $white;
  z-index: 1;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: 0px 5px 30px 0px rgba(0, 191, 255, 0.35);
    text-decoration: none;
  }

  @include mobile() {
    font-size: 13px;
    min-height: 56px;
    border-radius: calc(56px / 2);
    padding: 12px 20px;
  }

}
