// ====================================
// colors
// ====================================

$black: #2b2a29;
$white: #fff;
$gray: #f4f7fa;
$blue: #23527c;
$cyan: #00bfff;
$green: #5dbe53;
$red: #ea3434;

// ====================================
// grid settings
// ====================================
$gutter: 10px;
$gutter-half: ($gutter / 2);

//$breakpoint-md: 1023px;
$breakpoint-lg: 1023px;
