@font-face {
  font-family: 'Code Next';
  src: url('../fonts/subset-CodeNext-Light.woff2') format('woff2'),
  url('../fonts/subset-CodeNext-Light.woff') format('woff'),
  url('../fonts/subset-CodeNext-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code Next';
  src: url('../fonts/subset-CodeNext-Thin.woff2') format('woff2'),
  url('../fonts/subset-CodeNext-Thin.woff') format('woff'),
  url('../fonts/subset-CodeNext-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code Next';
  src: url('../fonts/subset-CodeNext-Bold.woff2') format('woff2'),
  url('../fonts/subset-CodeNext-Bold.woff') format('woff'),
  url('../fonts/subset-CodeNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code Next';
  src: url('../fonts/subset-CodeNext-Black.woff2') format('woff2'),
  url('../fonts/subset-CodeNext-Black.woff') format('woff'),
  url('../fonts/subset-CodeNext-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code Next';
  src: url('../fonts/subset-CodeNext-Book.woff2') format('woff2'),
  url('../fonts/subset-CodeNext-Book.woff') format('woff'),
  url('../fonts/subset-CodeNext-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

