footer.footer
  .c
    img.footer__img(src=require('src/modules/footer/img/img.png'))
    .footer__container
      .footer__title Но главное - вы получаете эффективное современное лечение
      .footer__subtitle с минимальным риском осложнений и рецидивов болезни
      .footer__cta
        button.btn Записаться на встречу с врачом
        ul.footer__note
          li #[span очно] в Москве
          li #[span онлайн] из любого города и страны

    .footer__top
      div.footer__left
        .footer__top-left
          .footer__name Андрей Реутов
          .footer__position Нейрохирург в ЦКБ Управления делами президента РФ
        .footer__address г. Москва, ул. Маршала Тимошенко, д.15, стр. 3
      .footer__top-right
        button.footer__button получить консультацию
        a.footer__link(href='#') INSTAGRAM
        a.footer__link(href='#') FACEBOOK
