$semi-desktop-breakpoint: 1370px;

.footer {
  $this: &;
  background: #f4f7fa;

  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: #e9eff4;
    left: 50%;
    margin-left: 289px;
    top: -288px;
  }

  &__container {
    position: relative;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mobile() {
      height: auto;
      padding: 65px 0;
    }

  }

  &__title {
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    color: $blue;
    text-align: center;
    margin: 0 auto 1px;
    @include mobile() {
      font-size: 28px;
      margin-bottom: 3px;
    }
  }

  &__subtitle {
    font-size: 34px;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 41px;
    text-align: center;
    @include mobile() {
      font-size: 18px;
      margin: 0 auto 3px;
      max-width: 230px;
      line-height: 1.5;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    @include mobile() {
      flex-direction: column;
      margin-top: 30px;
    }

  }

  &__note {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-left: 30px;
    @include mobile() {
      font-size: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-top: 12px;
    }

    li {
      margin: 0;
    }

    span {
      font-weight: bold;
      color: $blue;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 0 49px;
    flex-wrap: wrap;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__top-left {
    display: flex;
    align-items: center;
    @include mobile() {
      width: 100%;
    }
  }

  &__logo {
    margin-right: 15px;
    @include mobile() {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    flex-shrink: 0;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      height: 40px;
      background: $cyan;
      margin: 0 25px;
      @include mobile() {
        height: 33px;
        margin: 0 15px;
      }
    }

    @include mobile() {
      font-size: 10px;
    }
  }

  &__position {
    font-size: 14px;
    @include mobile() {
      font-size: 10px;
    }
  }

  &__top-right {
    margin-left: auto;
    @include mobile() {
      width: 100%;
      margin: 20px 0 0;
    }
  }

  &__button {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: $blue;
    letter-spacing: .2em;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $cyan;
      position: absolute;
      right: 0;
      top: 100%;
      @include anim(.2s);
    }

    &:hover {
      &:after {
        width: 5%;
      }
    }

    @include mobile() {
      font-size: 8px;
    }
  }

  &__link {
    position: relative;
    margin-left: 37px;
    font-size: 12px;
    letter-spacing: .2em;
    font-weight: 300;
    text-decoration: none;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $cyan;
      opacity: .1;
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: 2px;
      @include anim(.2s);
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    @include media-max-width($semi-desktop-breakpoint) {
      margin-left: 10px;
    }

    @include mobile() {
      font-size: 8px;
      margin-left: 7px;
    }
  }


  &__img {
    position: absolute;
    left: 50%;
    bottom: -155px;
    margin-left: -41px;
    @include mobile() {
      left: auto;
      bottom: auto;
      top: -29px;
      right: -29px;
      width: 141px;
      height: auto;
    }
  }
}
