.ya
  .c
    .ya__container
      .ya__left
        .ya__no
          +the_svg('cross-mark').ya__no-icon
          | Во многих больницах доктор впервые видит пациента уже на операции.
        .ya__no
          +the_svg('cross-mark').ya__no-icon
          | Первые разрезы делают ординаторы, а хирург только удаляет опухоль.
        .ya__no
          +the_svg('cross-mark').ya__no-icon
          | Иногда до операции вы даже не знаете имени хирурга.

      .ya__right
        img.ya__img(src=require('src/modules/ya/img/img.jpg') width=470 height=612)
        .ya__title #[span Всех пациентов я веду сам] - от консультации до операции
        .ya__items
          .ya__item
            +the_svg('quote').ya__item-icon
            | Я #[b сам провожу]#[br]консультацию и#[br]осмотр, оформляю#[br]историю болезни.
          .ya__item
            +the_svg('quote').ya__item-icon
            | #[b Лично]#[br]сопровождаю вас#[br]в операционную.
          .ya__item
            +the_svg('quote').ya__item-icon
            | #[b Сам делаю] разрез,#[br]удаляю опухоль,#[br]накладываю#[br]швы.
          .ya__item
            +the_svg('quote').ya__item-icon
            | #[b Не ухожу домой],#[br]пока не пойму, что вы#[br]проснулись и операция#[br]прошла успешно.
          .ya__item
            +the_svg('quote').ya__item-icon
            | #[b После операции] захожу к вам#[br]1-2 раза в день, перевязываю,#[br]проверяю самочувствие.
        .ya__footer
          button.btn.ya__btn Записаться на встречу с врачом
          .ya__bullets
            div #[b очно] в Москве
            div #[b онлайн] из любого города и страны
