//https://www.youtube.com/watch?v=dQw4w9WgXcQ
.video
  .c
    .video__subtitle Чтобы составить обо мне впечатление,
    .video__title посмотрите передачи с моим участием
    .video__items
      a.video__item(href='#' data-micromodal-trigger="iframe-popup" data-youtube-id="dQw4w9WgXcQ")
        .video__preview
          img.video__img(src=require('src/modules/video/img/img.jpg'))
          .video__icon: +the_svg('play')
          .video__time 10:54
        .video__name Выступление про опухоли головного мозга в программе «О самом главном»

      a.video__item(href='#')
        .video__preview
          img.video__img(src=require('src/modules/video/img/img.jpg'))
          .video__icon: +the_svg('play')
          .video__time 10:54
        .video__name Выступление про опухоли головного мозга в программе «О самом главном»

      a.video__item(href='#')
        .video__preview
          img.video__img(src=require('src/modules/video/img/img.jpg'))
          .video__icon: +the_svg('play')
          .video__time 10:54
        .video__name Выступление про опухоли головного мозга в программе «О самом главном»

      a.video__item(href='#')
        .video__preview
          img.video__img(src=require('src/modules/video/img/img.jpg'))
          .video__icon: +the_svg('play')
          .video__time 10:54
        .video__name Выступление про опухоли головного мозга в программе «О самом главном»


