.examples
  .c
    .examples__subtitle Отказали везде? Назвали вашу ситуацию безнадежной?
    .examples__title Берусь за случаи любой сложности, включая возраст 80+ лет
    .examples__container
      .examples__main
        .examples__slider
          .examples__slides
            .examples__slide
              .examples__card
                .examples__label случай из практики
                .examples__header Например, недавно я оперировал 75-летнюю женщину с некоторое название диагноза
                .examples__text Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
                button.examples__more(data-micromodal-trigger="example-popup") читать больше
            .examples__slide
              .examples__card
                .examples__label случай из практики
                .examples__header Беременная женщина с массивным кровоизлиянием в мозг
                .examples__text Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                button.examples__more читать больше
            .examples__slide
              .examples__card
                .examples__label случай из практики
                .examples__header Беременная женщина с массивным кровоизлиянием в мозг
                .examples__text Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                button.examples__more читать больше
        .examples__navigation
          .examples__nav.examples__nav--prev: +the_svg('chevron')
          .examples__nav.examples__nav--next: +the_svg('chevron')

      .examples__info
        .examples__bullet
          .examples__bullet-image: img(src=require('src/modules/examples/img/img_01.png') width=55 height=63)
          .examples__bullet-text Все операции проводятся в ЦКБ, у нас  в доступе - лучшие врачи по любому профилю.
        .examples__bullet
          .examples__bullet-image: img(src=require('src/modules/examples/img/img_02.png') width=60 height=63)
          .examples__bullet-text Если во время операции что-то пойдет не по плану, вам тут же помогут.
        button.btn.examples__btn  Обсудить ваш случай
