.wait
  .c
    .wait__container
      .wait__content
        img.wait__icon(src=require('src/modules/wait/img/img2.png') width=36 height=41)
        .wait__text Средний срок ожидания в очереди на плановую операцию - 2-3 месяца
      .wait__img: img(src=require('src/modules/wait/img/img.png') width=230  height=302)
      .wait__header Если нужна #[span срочная операция], она #[b проводится в день или на следующий день] после обращения